@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root {
    --palette-sky-blue-sea: #000080;
    --palette-sky-blue: #e2f0f9;
    --palette-soft-green: #8FC9B8;
    --palette-gray: #F0F0F0;
    --palette-white: #FFFFFF;
    --palette-black: #000000;
  }
}


body {
  color: rgb(var(--palette-white));
  padding: 0 1%;
}
