@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root {
    --palette-blue-deep: #46A1B9;
    --palette-sky-blue: #e2f0f9;
    --palette-delicate-green: #E8F3F1;
    --palette-soft-green: #8FC9B8;
    --palette-gray: #F0F0F0;
    --palette-white: #FFFFFF;
    --palette-black: #000000;
    --palette-coral-orange: #FF6F61;  }
}


body {
  color: rgb(var(--palette-white));
}

.home{
  padding: 0 1%;
}

// Resets

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.aspects-doctors {
  .big-aspects-information{
    background-color: rgb(165, 180,252);
    .aspects-information{
    background-color: rgb(165, 180,252);
    }
  }
}

.aspects-patients {
  .big-aspects-information{
    background-color: rgb(252, 165, 165);
    .aspects-information{
    background-color: rgb(252, 165, 165);
    }
  }
}